*venv*
*test_project*
*pyc
*__pycache__*
*migration_output*
*.vscode*
test_*py
# JDT相关文件
lib/
cache/
logs/
temp_test.java
*database_info.txt

# JPype相关
*.so
*.dll
*.dylib
*test_output*
*apache-maven-repository*